body {
  font-family: arial, sans-serif;
}

.heather {
  position: relative;
  bottom: 80px;
}

#search-form {
  position: relative;
  right: 45%;
  bottom: 160px;
}

lord-icon {
  position: relative;
  right: -79%;
  bottom: 260px;
}

.btn {
  color: white;
  background-color: #ec6e4c;
  border: none;
}

h1 {
  color: #48484a;
  font-size: 34px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #48484a;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: -300px auto 100px;
}

.weather-app {
  padding: 20px;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
  filter: drop-shadow(20px 10px 8px rgb(174, 174, 174));
}

.clearfix {
  text-align: center;
}

.weather-temperature img {
  height: 100px;
  width: 100px;
  margin-left: -25px;
  filter: drop-shadow(20px 10px 8px rgb(174, 174, 174));
}

.weather-temperature strong {
  color: #48484a;
  font-size: 54px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 100px;
  text-align: center;
  color: #000;
  filter: drop-shadow(5px 5px 8px rgb(137, 137, 137));
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

footer {
  color: #5f5f5f;
  background-color: #ec6e4c;
  position: relative;
  margin: -60px 50px;
}
.github {
  text-decoration: none;
  color: #5f5f5f;
}
.github:hover {
  color: #fde3ce;
  text-decoration: none;
  cursor: pointer;
}
